{% extends "tailer/base.html" %}
{% load static %}
{% block content %}

   <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
  <div class="alert alert-success alert-dismissible fade show" role="alert" hidden >
      <strong>Record Added!</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-10">
                                <input id="search" type="text" class="form-control " placeholder="Search with Name/Phone Number" aria-label="" aria-describedby="basic-addon2">

          </div>
          <div class="col-md-2">
                       <a style="color:white" class="btn btn-success" onclick="openEntriesModal()">Add an Entry</a>

          </div>


      </div>
       <div  class="list-item"></div>


  </div>
</div>

                    </div>
                </div>
            </div>
        </section>

<div class="modal fade" id="model-content" tabindex="-1" role="dialog" aria-labelledby="expired" style="margin-right:20px">
    <div class="modal-dialog modal-custom" role="document">
        <div class="modal-content"  id="model-content-body">
            {% include "tailer/_partial/_create.html" %}
        </div>
    </div>
</div>

<div class="modal fade" id="edit-model-content" tabindex="-1" role="dialog" aria-labelledby="expired">
    <div class="modal-dialog modal-custom" role="document">
        <div class="modal-content" id="edit-model-content-body">
            {% include "tailer/_partial/_edit.html" %}
        </div>
    </div>
</div>
 


{% endblock %}
{% block scripts %}
<script>
    function load_list(search=''){
        $.ajax({
            type: 'GET',
            url: '',
            data: {'get_list':true,
                    'search':search
                    },
            success: function (response) {
                $('.list-item').html(response);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('Error')
            }
        });
    }
    load_list()

 $('#search').on('input',function(){
        load_list(search=$('#search').val())
    })
    function openEntriesModal()
    {
 $('#model-content').modal('show');
    }



       function edit_entries(id){

            $.ajax({
                type: 'POST',
                url: '',
                data: $('.edit-content-form').serialize(),
                success: function (response) {
                if(response=='success'){
                   $('#edit-model-content').modal('hide')
                    load_list()

                }else{
                    $('#edit-model-content-body').html(response)

                }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error')
                }
            });

    }


        function submit_entries(){
            $.ajax({
                type: 'POST',
                url: '',
                data: $('.content-form').serialize(),
                success: function (response) {
                if(response=='success'){
                   $('#model-content').modal('hide')
                    load_list()
                    $('.content-form')[0].reset()
                    $('.alert').removeAttr('hidden')

                }else{
                    $('#model-content-body').html(response)

                }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error')
                }
            });
        }



function delete_entry(id){
            $.ajax({
                type: 'GET',
                url: '',
                data: {'delete_id': id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {
                if(response=='success'){
                    load_list()
                }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error')
                }
            });
    }


    function edit_event_list(id){
    console.log(id)
    $('#edit-model-content').modal('show')
    $.ajax({
        type: 'GET',
        url: '',
        data: {'obj':id},
        success: function (response) {
        console.log('fetching data')
           $("#edit-model-content-body").html(response)
           submit_edit()

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log('Error')
        }
    });

}

function submit_edit(){
    $('.edit-event-content-form').on('submit',function(e){
        e.preventDefault();
       $.ajax({
                type: 'POST',
                url: '',
                data: $(".edit-event-content-form").serialize() ,
                success: function (response) {
                    if(response=='success'){
                        console.log("HELLOO",)
                        load_list()
                        $('#edit-model-content').modal('hide')
                    }else{
                    console.log(" NOT HELLOO",)
                        $('#edit-model-content-body').html(response)

                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error')
                }
            });

    })
}

    function request_sent(id){
    window.location.href = '{% url 'dashboard_view' %}'

    }

        function approve(id){
     $.ajax({
                type: 'GET',
                url: '',
                data: {
                    'approve': id,
                     csrfmiddlewaretoken: '{{ csrf_token }}',
                } ,
                success: function (response) {
                    if(response){
                    console.log('sent')
                       load_list()
                    }else{
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error')
                }
            });
    }


</script>
{% endblock scripts %}