{% extends "tailer/base.html" %}
{% load static %}
{% block content %}

                <div class="row">
                     <div class="col-12">
                        <div class="card">
  <div class="card-body">
      <div class="row">
          <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Father Name</th>
      <th scope="col">Address</th>
      <th scope="col">Length</th>
      <th scope="col">Waist</th>
      <th scope="col">Low Waist</th>
      <th scope="col">HIP</th>
      <th scope="col">Muscle</th>
      <th scope="col">Arm Hole</th>
      <th scope="col">Collar</th>
      <th scope="col">Pancha</th>
      <th scope="col">Pocket</th>
      <th scope="col">Payment</th>
      <th scope="col">Recieved</th>
      <th scope="col">Extra Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{get_data.name}}</td>
      <td>{{get_data.phone_number}}</td>
      <td>{{get_data.father_name}}</td>
      <td>{{get_data.address}}</td>
      <td>{{get_data.length}}</td>
      <td>{{get_data.waist}}</td>
      <td>{{get_data.low_waist}}</td>
      <td>{{get_data.hip}}</td>
      <td>{{get_data.muscle}}</td>
      <td>{{get_data.arm_hole}}</td>
      <td>{{get_data.collar}}</td>
      <td>{{get_data.pancha}}</td>
      <td>{{get_data.pocket}}</td>
      <td>{{get_data.payment}}</td>
      <td>{{get_data.recieved}}</td>
      <td>{{get_data.extra_info}}</td>
    </tr>
  </tbody>
</table>


      </div>

  </div>
</div>

                    </div>
                </div>

 


{% endblock %}
{% block scripts %}
{% endblock scripts %}