<style>
    .modal-header{
padding-left: 2.2rem;
padding-right: 1.25rem;
padding-bottom: 0px;
padding-top: 1.25rem;
border-bottom: 0px;
}

.modal-body {
padding-left: 35px;
padding-right: 35px;
padding-bottom: 35px;
}
</style>
<div class="modal-header">
    <h5 class="modal-title">Edit an Entry</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>

</div>
<form class="form-horizontal edit-event-content-form form-custom" method="post" role="form" action="">
    {% csrf_token %}
    <div class="modal-body">

        <div class="row">
            <div class="col-md-4">
                 <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Name</label>
                    {{entry_form.name}}

                </div>
            </div>

                <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Phone Number</label>
                    {{entry_form.phone_number}}

                </div>
            </div>

              <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Father Name</label>
                    {{entry_form.father_name}}

                </div>
            </div>




        </div>

        <div class="row">
                <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Address</label>
                    {{entry_form.address}}

                </div>
            </div>

              <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Length</label>
                    {{entry_form.length}}

                </div>
            </div>


                   <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Waist</label>
                    {{entry_form.waist}}

                </div>
            </div>

        </div>


               <div class="row">
                <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Low Waist</label>
                    {{entry_form.low_waist}}

                </div>
            </div>

              <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Hip</label>
                    {{entry_form.hip}}

                </div>
            </div>


                   <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Muscle</label>
                    {{entry_form.muscle}}

                </div>
            </div>

        </div>



                    <div class="row">
                <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">ARM Hole</label>
                    {{entry_form.arm_hole}}

                </div>
            </div>

              <div class="col-md-4">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Collar</label>
                    {{entry_form.collar}}

                </div>
            </div>


                   <div class="col-md-2">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Pocket</label>
                    {{entry_form.pocket}}

                </div>
            </div>


                   <div class="col-md-2">
                <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Pancha</label>
                    {{entry_form.pancha}}

                </div>
            </div>
            <input type="text" name="edit_entry" value="{{obj.id}}" hidden>
        </div>

                <div class="row">
            <div class="col-md-12">

                             <div class="form-group text-left label-floating is-empty {% if form.wedding_fairs_choices.errors %} has-error {% endif %}">
                    <label class="wb-event-box-b-12 ">Additional Information</label>
                    {{entry_form.extra_info}}

                </div>

            </div>
        </div>


    </div>
    <div class="row">
            <div class="col-md-12 p-4 pl-5 pr-5">
                <button style="color:white"  class="btn btn-danger wb-white-font-14 save-btn" onclick="submit_edit()">Edit an Entry</button>
            <a type="button" data-dismiss="modal" class="ml-3 ">Cancel</a>
            </div>
        </div>
</form>

<div class="clearfix"></div>